
body {
    background-image: url(img/fondo2.jpg);
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo */
    margin: 0; /* Elimina márgenes que puedan causar problemas */
    padding: 0;

}
.principal{
    z-index: initial;
}
.navbar{
    background-color: #EB3238 !important;
}
.navbar-nav {
    margin-left: auto !important; /* Fuerza el alineamiento a la derecha */
}
.nav-item{
    font-size: 20px;
}
.footer{
    background-color: #EB3238 !important;
}
*{
    font-family: kanit;
}
.btn-outline-primary{
    color: #EB3238;
    border-color: #EB3238;
    transition: color 0.4s ease, border-color 0.4s ease, background-color 0.4s ease; /* Transiciones suaves */
}
.btn-outline-primary:hover{
    color:#ffffff;
    border-color: #ffffff;
    background-color: #000000fe;
}
.stylish-text-neon {
    font-size: 4rem; /* Tamaño del texto */
    color: #ffffff; /* Color del texto (negro) */
    font-weight: bold; /* Negrita */
    text-shadow: 
      0 0 5px #000000, /* Sombra blanca */
      0 0 10px #000000, /* Sombra en color #000000 */
      0 0 15px #000000, /* Sombra en color #000000 */
      0 0 20px #EB3238, /* Sombra en color #EB3238 */
      0 0 25px #EB3238, /* Sombra en color #EB3238 */
      0 0 30px #EB3238; /* Sombra en color #EB3238 */
    text-transform: uppercase; /* Mayúsculas */
    margin-top: 20px; /* Margen superior */
  }
.form-label{
    color: rgb(255, 255, 255);
}
.nav-item a{
    color: white;
}
.mb-4{
    font-family: kurale;
}
#btn_flotante {
    display: scroll;
    position: fixed;
    bottom: 10%;
    right: 0px;
    z-index: 999999;
    background: #EB3238 ;
    color: #000000;
    font-size: 30px;
    line-height: 27px;
    font-weight: bolder;
    border-radius: 15px 0 0 15px;
    padding: 20px 40px 20px 25px;
    box-shadow: 5px 5px 10px rgb(71, 71, 71, 0.5);
    text-decoration: none;
}
.principal{
    opacity: 0.9;
}
.card{
    background-color: white; 
    float: right; 
    margin-bottom: 20px; 
    height: 100%;
}
.card img{
    width: 30%; 
    object-fit: cover;
}
.card-title{
    font-size: 30px
}
.card-header p{
    font-size: 20px;
}
.my-custom-button {
    background-color: #EB3238; /* Cambia a tu color deseado */
    color: white; /* Cambia el color del texto */
}